APP_PORT=8000
DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5432/authdb
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:new life@localhost:5432/user_service
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=supersecretkey
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
EMAIL_SERVICE_URL=http://localhost:8082/mail/send
USER_SERVICE_URL=http://localhost:8001/users
FIREBASE_CREDENTIALS_PATH=path/to/firebase/credentials.json